* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100vw;
	margin: auto;
}
.container {
	margin: auto;
	padding: 10px;
	display: flex;
	min-height: 70vh;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(197, 186, 186);
}

.menu {
	width: 100%;
	display: none;
	flex-direction: column;
	text-align: center;
}


.menu--item {
	display: block;
	text-align: center;
	margin: 1rem;
	font-size: 1.8rem;
	color: white;
	text-decoration: none;
}
.menu--item:hover {
	font-weight: bolder;
}

.container .checkbox {
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top: 20px;
	right: 20px;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}

.container .hamburger-lines {
	display: block;
	height: 26px;
	width: 32px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.container .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: white;
}

.container .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
}

.container .hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
}

.container .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
}

.container input[type="checkbox"]:checked ~ .menu-items {
	transform: translateX(0);
}

.container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	transform: rotate(36deg);
}

.container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	transform: scaleY(0);
}

.container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	transform: rotate(-36deg);
}

.clicked {
	display: flex;
	padding-top: 30px;
}
